[submodule "release/scripts/addons"]
	path = release/scripts/addons
	url = https://github.com/scorpion81/blender-addons.git
	ignore = all
[submodule "release/scripts/addons_contrib"]
	path = release/scripts/addons_contrib
	url = https://github.com/scorpion81/blender-addons-contrib.git
	ignore = all
[submodule "release/datafiles/locale"]
	path = release/datafiles/locale
	url = https://github.com/scorpion81/blender-translations.git
	ignore = all
