[submodule "release/scripts/addons"]
	path = release/scripts/addons
	url = http://git.blender.org/blender-addons.git
	ignore = all
[submodule "release/scripts/addons_contrib"]
	path = release/scripts/addons_contrib
	url = http://git.blender.org/blender-addons-contrib.git
	ignore = all
[submodule "release/datafiles/locale"]
	path = release/datafiles/locale
	url = http://git.blender.org/blender-translations.git
	ignore = all
[submodule "scons"]
	path = scons
	url = http://git.blender.org/scons.git
	ignore = all
